*, *:before, *:after {
 box-sizing: border-box; }

img { max-width: 100%; }

body{ font-size: 100%; padding: 0 1em;}

h1, h2{font-family: 'Rock Salt', cursive;}

h3, h4, a, p {font-family: 'Candal', sans-serif;}

.longpic {width:100%;margin:0;padding:0;}

.callout.large.primary {
	background-color: white;
}

.top-bar {
  background-color: white;
}

.top-bar ul{
  background-color: white;
}
